*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:  #F6F8F9;
    font-family: 'Roboto', sans-serif;

}
header{
    background-color: white;
    padding: 20px;
}

#logo{
    vertical-align: middle;
}

.logo-text{
    display: inline-block;
    vertical-align: middle; 
}

main{
    max-width: 800px;
    margin: 40px auto 10px; 
    background-color: white;
  /*   margin-top: 40px; */
    border-radius: 5px;
    padding-bottom:20px;
   /*  margin-bottom: 10px; */
}


/* 
    bottoni
*/
.btn-area{
    border-bottom: 2px solid  #F6F8F9;
    padding: 10px 40px;
}

.button{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid;
    font-size: 13px;
    font-family: inherit;
}
.add-task{
    background-color:#47ADF1;
    border:#47ADF1;
    color: white;
    
}

.add-section{
    background-color: white;
    border-color: #C8CED3;
    color: #C8CED3;
}

.title::before{
    content: '\25BE';
    margin-right: 10px;
    width: 15px;
    height: 5px;

}

/* ELEMENTI LISTE */

.task{
    padding: 30px 40px;
    color: rgb(42, 42, 42);

}

.title{
    font-size: 20px;
    margin-bottom: 10px;
}

.subtitle{
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
.list{
    font-size: 16px;
    margin-bottom: 35px;
}

.check::before{
    display: inline-block;
    content: '\2713';
    color: green;
    width: 20px;
    height: 20px;
    padding: 2px;
    border:1px solid green;

    border-radius: 50%;
    margin-right:10px;
    text-align: center;
}

.cross::before{
    display: inline-block;
    content: '\2717';
    color: red;
    width: 20px;
    height: 20px;
    padding: 2px;
    border: 1px solid red;
    border-radius: 50%;
    margin-right:10px;
    text-align: center;
}

/* PULSANTI LISTE */

.tag{
    border-radius: 12px;
    color: white;
    font-size: 12px;
    padding: 7px 10px;
    margin: 5px;
}

.editorial{
     background-color: #45ABEA;
}

.goals{
    background-color: #9C72E4;
}

.recruiting{
    background-color:#65C1AA;
}
.mobile{
    background-color: #F29E33;
}
.website{
    background-color:#D863A1;
}
.sales{
    background-color: #B0C926;
}