body{
    background-color:  #F6F8F9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    background-color: white;
}
#logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.container{
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    border-radius: 5px;
}

/* 
    bottoni
*/
.container-bottoni{
    border-bottom: 2px solid  #F6F8F9;
    padding: 10px 40px;
}


.button{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid;
}
.task{
    background-color:#47ADF1;
    color: white;
    
}

.section{
    background-color: white;
    color:  #C8CED3;
}

.title::before{
    content: '\25BC';
    width: 15px;
    height: 5px;

}
/* Liste */


.subtitle{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list{
    font-size: 16px;
    margin: 10px;
}

.check::before{
    content: '\2713';
    color: green;
    width: 25px;
    height: 20px;
    padding: 2px;
    border: 1px solid green;
    border-radius: 50%;
    margin-right:10px;
}

.cross::before{
    content: '\2717';
    color: red;
    width: 25px;
    height: 20px;
    padding: 2px;
    border: 1px solid red;
    border-radius: 50%;
    margin-right:10px;

}