body{
    background-color:  #F6F8F9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    background-color: white;
}
#logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.container{
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    border-radius: 5px;
    padding-bottom:20px;
    margin-bottom: 10px;
}
section{
    margin-left: 40px;
}

/* 
    bottoni
*/
.container-bottoni{
    border-bottom: 2px solid  #F6F8F9;
    padding: 10px 40px;
}

.button{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid;
}
.task{
    background-color:#47ADF1;
    color: white;
    
}

.add-section{
    background-color: white;
    color:  #C8CED3;
}

.title::before{
    content: '\25BC';
    width: 15px;
    height: 5px;

}

/* ELEMENTI LISTE */

.title{
    font-size: 20px;
}

.subtitle{
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
.list{
    font-size: 16px;
    margin-bottom: 35px;
}

.check::before{
    content: '\2713';
    color: green;
    width: 25px;
    height: 20px;
    padding: 2px;
    border: 1px solid green;
    border-radius: 50%;
    margin-right:10px;
}

.cross::before{
    content: '\2717';
    color: red;
    width: 25px;
    height: 20px;
    padding: 2px;
    border: 1px solid red;
    border-radius: 50%;
    margin-right:10px;
}

/* PULSANTI LISTE */

.box{
    border-radius: 12px;
    color: white;
    font-size: 12px;
    padding: 7px 10px;
    margin: 5px;
}

.editorial{
     background-color: #45ABEA;
}

.goals{
    background-color: #9C72E4;
}

.recruiting{
    background-color:#65C1AA;
}
.mobile{
    background-color: #F29E33;
}
.website{
    background-color:#D863A1;
}
.sales{
    background-color: #B0C926;
}